header{
    width: 80%;
    margin: 0 auto;
}
.title > p{
    color: rgb(133, 133, 133);
}

.container{
    width: 80%;
    margin: 0 auto;
}
.card{
    background-color: rgba(255, 255, 255, 0.651);
    padding: 10px;
    border: 2px solid darkgray;
    border-radius: 10px;
    margin-top: 5px;
}

.inputBox > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 30px; */
    margin: 0;
}
.inputBox > div > label{
    width: 45%;
    /* border: 1px solid black; */
}

.inputBox > div > label > input{
    width: 60%;
    height: 20px;
    border: none;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.dateInput > input{
    padding-right: 20px;
}


.optionBox{
    display: flex;
    align-items: center;
    gap: 10px;
}
.optionBox > select{
    height: 40px;
    padding: 10px;
}
.optionBox > span{
    display: inline-block;
    width: 60%;
    height: 20px;
    padding: 10px 0px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}

.addBtn{
    margin: 30px 0px;
    padding: 10px 20px;
    background-color: rgb(135, 205, 228);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.addBtn:hover{
    background-color: rgb(105, 190, 218);
}

.tableFrame{
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
}