body {
    background-color: #ededed;
    color: #1f1f1f;
    user-select: none;
}
.container {
    max-width: calc(100vw - 100px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

p {
    font-size: 0.9rem;
}
h2 {
    font-size: 1.1rem;
}
.card {
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafac9;
    padding: 2rem;
    border-radius: 1rem;
}
.emoji-box,
form {
    display: flex;
}

.list-iframe {
    width: 100%;
    min-height: 370px;
    border: none;
    background-color: rgba(209, 162, 169, 0.301);
}

.notice {
    background-color: rgb(224, 87, 33);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
}
.btn {
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(218, 100, 53);
    color: white;
}
.emoji-box {
    font-size: 1.6rem;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
}
.emoji {
    padding: 1rem;
    transition: all 0.4s;
}
.emoji:hover {
    background-color: crimson;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    text-align: center;
}
form {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}
form label {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
form label span {
    width: 80px;
    text-align: left;
}
form label input,
form label textarea {
    width: 200px;
}
form label input {
    padding: 0.3rem 0;
}
.right {
    text-align: right;
}

