body {
    background-color: #ededed;
    color: #1f1f1f;
    user-select: none;
}
.container {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px 0px;

    /* border: 1px solid black; */
}

.hBox{
    display: flex;
    align-items: start;
}
.hBox > h1{
    margin: 0;
}
.hBox > p{
    font-size: 0.9rem;
    margin: 0;
}

.mainCon{
    flex-direction: row;
    align-items: start;
    gap: 3%;
}
.card {
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafac9;
    padding: 1rem;
    border-radius: 1rem;
}

.write{
    width: 35%;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 30px;
}
.write > h2{
    font-size: 1.5rem;
    margin: 0px;
}
.show{
    width: 60%;
    align-items: start;
}
.show > h2{
    font-size: 1.5rem;
    margin: 5px 0px 15px 0px;

    /* border: 1px solid black; */
}
.emoji-box,
form {
    display: flex;
}


.list-iframe {
    width: 100%;
    min-height: 370px;
    border: none;
    background-color: rgba(209, 162, 169, 0.301);
    border-radius: 1rem;
}

.notice {
    background-color: rgb(224, 87, 33);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
}
.btn {
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(218, 100, 53);
    color: white;
}
.emoji-box {
    font-size: 1.6rem;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
}
.emoji {
    padding: 1rem;
    transition: all 0.4s;
}
.emoji:hover {
    background-color: crimson;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    text-align: center;
}
form {
    width: 100%;
    /* flex-direction: column; */
    gap: 2rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}
form label {
    width: 100%;
    display: flex;
    justify-content: start;

    /* border: 1px solid black; */
}
form label span {
    width: 80px;
    text-align: left;
    
    /* border: 1px solid black; */
}
form label input,
form label textarea {
    width: 80%;
}
form label input {
    padding: 0.3rem 0;
}
.right {
    text-align: right;
}

form > label:nth-child(1),
form > label:nth-child(2){
    width: 40%;
}

form .auth input,
form .auth textarea ,
form .pw input,
form .pw textarea{
    width: 50%;
}

